.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head input {
    background-color: var(--color-dark-4);
    outline: none;
    border: none;
    color: var(--color-light-2);
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.filter select {
    background-color: var(--color-dark-4);
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--color-light-2);
    border-radius: 0.5rem;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

.statistics {
    background-color: var(--color-dark-4);
    padding: 2rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* -------------------- */
.pop {
    position: absolute;
    background-color: #2e2323c2;
    width: 100%;
    top: 0;
    right: 0;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    z-index: 10002;
    display: none;
}

.pop.show {
    display: flex;
}

.pop > div {
    background-color: var(--color-light-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    position: relative;
    width: 90%;
    max-width: 50rem;
}

.pop > div .close {
    padding: 0.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.pop > div button {
    width: 100%;
    background-color: var(--color-red-1);
    padding: 0.5rem;
    color: var(--color-light-2);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-1);
    font-size: 1.8rem;
}
/* ---------------- */

@media (max-width: 55rem) {
    .statistics {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (max-width: 45rem) {
    .filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 35rem) {
    .input {
        display: none;
    }
}
