.section {
    height: 10vh;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-dark-4);
    box-shadow: var(--box-shadow-1);
}

/* .section.onScroll{
    position: fixed;
    top: 0;
    z-index: 100;
} */

.section > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 75%;
}

.list > ul li {
    color: var(--color-light-1);
    cursor: pointer;
    height: 10vh;
    display: flex;
    align-items: center;
}

.list > ul li > a {
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.list > ul li > a:hover {
    border-bottom: 2px solid var(--color-main-2);
}


.btn > a:nth-of-type(2) {
    background-color: var(--color-red-1);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--color-light-2);
    box-shadow: var(--box-shadow-1);
}

/* ---------------- */


