.section > .head {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
}

.head input {
    background-color: var(--color-dark-4);
    outline: none;
    border: none;
    color: var(--color-light-2);
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.orders{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width:55rem) {
    .orders{
        grid-template-columns: 1fr ;
    }
    
}
/* ------------- */